* {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  width: 100vw;
  height: 100vh;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input {
  margin-top: 80px;
  margin-left: 100px;
  height: 40px;
  background-color: transparent;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  border: none;
  border-bottom: 1px solid;
}

input::placeholder {
  color: #0a3871;
}

.text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  margin-left: 1rem;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  height: 80%;
}

.container1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

#copy {
  display: none;
  margin: 0 auto;
  margin-top: 400px;
}
.container {
  position: absolute;
  width: 400px;
  height: 90vh;
  left: 60vw;
  top: 7vh;
  background-color: #fff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

.message {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* or 29px */

  text-align: center;
  color: #343a40;
}

.pikachu {
  width: 300px;
  height: 50vh;
  margin-left: 50px;
}

.span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  text-align: center;
}

.button {
  width: 300px;
  height: 50px;
  border-radius: 15px;
  padding: 10px;
  margin-left: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.encrypt {
  background-color: #0a3871;
  color: #fff;
}

.decrypt {
  background-color: #d8dfe8;
  border: 1px solid #0a3871;
}

.no-msg-found {
  display: block;
  margin: 0 auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.alura {
  margin-top: 5px;
  margin-left: 5px;
}
